body {
  background: rgb(70, 70, 70);
  background-image: url(../gfx/menu/bg_default.png);
  background-size: cover;
}

.frame {
  position: fixed;
  width: 100vw;
  height: 56.25vw;
  max-height: 100vh;
  background: grey;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  // user-select: none;

  .hidden {
    display: none;
    user-select: none;
    pointer-events: none;
  }

  .textBox {
    width: auto;
    height: auto;
    // min-width: 8%;
    // min-height: 4.8%;
    max-width: 16%;
    max-height: 9.6%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.5%;
    background-image: url(../gfx/menu/bg_paper.png);
    box-shadow: 0vw 0vw 0.2vw 0.12vw rgb(124, 108, 37);
    background-size: cover;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;

    pre, p, span {
      font-size: 0.8vw;
      color: rgb(15, 15, 15);
      font-family:MaliMedium;
      margin: 0;
      text-shadow: 0vw 0vw 0.05vw black;
      white-space: pre-wrap;
    }
  }

  .sideBar {
    height: 100%;
    width: 20%;
    background-image: url(../gfx/menu/bg_menu.png);
    background-size: cover;
    box-sizing: border-box;
    border: 8px solid rgb(70, 70, 70);
    position: absolute;

    ::-webkit-scrollbar {
      display: none;
    }
  }

  > .partyBar {
    left: 0;

    .partyContainer {
      width: 100%;
      height: 75%;
      position: relative;
      left: 0;
      top: 0;
      overflow-y: auto;
      margin: 0;

      img {
        transform: rotateY(180deg);
      }
    }
  }

  > .infoBar {
    right: 0;

    .partyContainer {
      width: 100%;
      height: 75%;
      position: relative;
      left: 0;
      top: 0;
      overflow-y: auto;
      margin: 0;
    }
  }

  .textMap {
    height: 85%;
    width: 60%;
    background-image: url(../gfx/menu/text_bg.png);
    background-size: cover;
    position: absolute;
    left: 20%;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border: 8px solid rgb(50, 50, 50);

    .gameFrame {
      width: 100%;
      height: 100%;
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      overflow-y: auto;
      text-align: center;
      font-family:MaliMedium;
      background-image: url(../gfx/menu/bg_paper_dark.png);
      background-size: cover;

      pre, p, span, button {
        color: rgb(15, 15, 15);
        font-family:MaliMedium;
        margin: 0;
        text-shadow: 0vw 0vw 0.1vw black;
        white-space: pre-wrap;
        padding: 0;
        height: auto;
        width: auto;

        .actor_combat {
          position: relative;
          top: 0.5vw;
          width: 2.15vw;
          border-radius: 50%;
        }

        .enemy {
         filter: drop-shadow(0vw 0vw 0.2vw red);
        }

        .ally {
          filter: drop-shadow(0vw 0vw 0.2vw lime);
          transform: rotateY(180deg);
        }
      }

      .choice {
        font-size: 1.5vw;
        color: rgb(7, 128, 128);
        text-shadow: 0vw 0vw 0.2vw rgb(10, 15, 10);
        text-decoration: underline;
        float: left;
        margin: 2vw;
        cursor: pointer;
      }

      .button-wrapper {
        width: 100%;
        height: auto;
        position: fixed;
        justify-content: center;
        text-align: center;
        display: flex;
        position: relative;
        left: 0;
        top: 0;

        button {
          transition: 0.05s;
          width: 7.8vw;
          height: 2.1vw;
          border: none;
          background-image: url(../gfx/menu/button.png);
          background-repeat: no-repeat;
          background-size: 7.8vw 2.1vw;
          font-size: 1vw;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0.25vw;
          outline: none;
          font-size: 0.8vw;
          color: rgb(15, 15, 15);
          font-family:MaliMedium;
          margin: 0;
          text-shadow: 0vw 0vw 0.05vw black;
        }

        button:hover {
          filter: brightness(125%);
        }
      }

      .por-container {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;

        .portraitFrame {
          width: 16%;
          height: 100%;
          overflow: hidden;
          box-sizing: border-box;
          border: 0.2vw solid grey;
          background:rgb(40, 40, 40);
          background-image: var(--bg-noise);
          box-shadow: -0.25vw 0.25vw 0.4vw 0.25vw rgb(25, 25, 25);
          border-radius: 1vw;
          margin: 2.5%;

          p {
            font-size: 1vw;
            color: white;
            margin: 0.5vw;
            text-shadow: -0.1vw 0.1vw 0.1vw black;
          }

          .porImg {
            width: 6vw;
            height: 6vw;
            border-radius: 50%;
            box-sizing: border-box;
            border: 0.12vw solid black;
            box-shadow: 0vw 0vw 0.4vw 0.25vw rgb(40, 20, 20);
          }
        }
      }

      .regular_text {
        position: relative;
        font-size: 0.92vw;
        color: white;
        text-shadow: -0.1vw 0.1vw 0.05vw rgb(50, 50, 50);
      }

      .separator {
        position: relative;
        font-size: 1.42vw;
        color: white;
      }
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .actionsContainer {
    height: 15%;
    width: 60%;
    background-image: url(../gfx/menu/bg_action.png);
    background-size: cover;
    position: absolute;
    left: 20%;
    bottom: 0;
    box-sizing: border-box;
    border: 8px solid rgb(60, 60, 60);
    overflow: hidden;
    overflow-y: auto;

    button {
      transition: 0.05s;
      width: 15%;
      height: 50%;
      border: none;
      background-image: url(../gfx/menu/button.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-size: 1.5vw;
      color: rgb(15, 15, 15);
      text-shadow: -0.1vw 0.1vw 0.125vw black;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      outline: none;
      margin: 0.5%;
      margin-left: 0.83%;
    }

    button:hover {
      filter: brightness(125%);
    }

    .greyedOut {
      filter: brightness(50%) !important;
    }
  }

  .characterPortrait {
    width: 100%;
    height: 25%;
    padding: 0;
    position: relative;
    left: 0;
    top: 0;
    background: rgb(75, 75, 75);
    background-image: var(--bg-noise);
    box-shadow: inset 0 0 12px 9px rgb(60, 60, 60);
    box-sizing: border-box;
    border: 0.15vw solid rgb(40, 40, 40);

    p {
      margin: 0;
    }

    .name {
      font-size: var(--fs-name);
      color: white;
      position: absolute;
      left: 45%;
      top: 15%;
      border-bottom: 2px solid white;
      width: 50%;
      filter: drop-shadow(0 0 6px black);
    }

    .threat {
      width: 1.5vw;
      position: absolute;
      right: 5%;
      top: 12%;
      border-radius: 20% 0% 20% 0%;
      filter: drop-shadow(0 0 6px black);
    }

    .energyContainer {
      width: 15%;
      height: 30%;
      border-radius: 50%;
      position: absolute;
      right: 5%;
      bottom: 5%;
      background: black;
      border: 0.2vw solid rgb(131, 164, 173);
      text-align: center;

      .energyPie {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        background: var(--energy-color);
        box-shadow: inset 0px 0px 5px 3px var(--energy-dark);
        background-image: var(--bg-noise);
        z-index: 2;
        clip-path: inset(var(--value) 0 0 0);

      }

      .epNumber {
        color: white;
        font-size: var(--fs-name);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        text-shadow: 0vw 0vw 0.2vw black;
        z-index: 3;
      }
    }

    

    .healthPie {
      width: 30%;
      height: 60%;
      border-radius: 50%;
      position: absolute;
      left: 10%;
      top: 10%;
      background: conic-gradient(black 0 var(--value), var(--health-color) 0);
      box-shadow: inset 0px 0px 5px 3px var(--health-dark);
      border: 0.2vw solid grey;
      text-align: center;
      z-index: 2;

      .image {    
        position: absolute;
        left: 10%;
        top: 10%;
        width: 80%;
        height: 80%;
        box-sizing: border-box;
        border: 0.15vw solid silver;
        border-radius: 50%;
        background: black;
        z-index: 2;
      }

      .hpNumber {
        color: white;
        font-size: var(--fs-num);
        position: absolute;
        left: 50%;
        bottom: -30%;
        transform: translateX(-50%);
        background: var(--health-color);
        box-shadow: inset 0px 0px 5px 3px var(--health-dark);
        z-index: 1;
        border-radius: 10%;
        text-align: center;
        width: 80%;
      }
    }

    .statusGrid {
      display: grid;
      width: 50%;
      height: 26.75%;
      grid-template-columns: repeat(5, 1fr);
      position: absolute;
      right: 5%;
      top: 32.5%;

      .statusBox {
        background: rgba(60, 60, 60, 0.7);
        border: 0.1vw dashed silver;
      }
    }
  }
}
